@import "tailwindcss";

.bg-landing {
    position: absolute;
    inset: 0;
    z-index: -10;
    background-image: url('/images/bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

body{
  background-color: #111010;
}